In [318]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [319]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# from keras.models import Sequential
# from keras.layers import Dense
# from keras.wrappers.scikit_learn import KerasClassifier
# from keras.utils import np_utils
# from keras.utils import to_categorical
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from catboost import CatBoostClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.utils import class_weight
from xgboost import XGBClassifier
import lightgbm as lgb
from sklearn.ensemble import RandomForestClassifier

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.set_option('max_colwidth', -1)

In [320]:
df = pd.read_csv('train.csv',sep=',')
df.drop(['Accident_ID'],inplace=True,axis=1)
# df['Combined'] = df['Total_Safety_Complaints'] + df['Turbulence_In_gforces'] + df['Cabin_Temperature'] + df['Max_Elevation'] + df['Violations'] + df['Adverse_Weather_Metric']
# df.drop(['Total_Safety_Complaints', 'Turbulence_In_gforces', 'Cabin_Temperature', 'Max_Elevation', 'Violations', 'Adverse_Weather_Metric'],inplace=True,axis=1)
test_df = pd.read_csv('test.csv',sep=',')
test_df_accident = test_df[['Accident_ID']]
test_df.drop('Accident_ID',inplace=True,axis=1)
# test_df['Combined'] = test_df['Total_Safety_Complaints'] + test_df['Turbulence_In_gforces'] + test_df['Cabin_Temperature'] + test_df['Max_Elevation'] + test_df['Violations'] + test_df['Adverse_Weather_Metric']
# test_df.drop(['Total_Safety_Complaints', 'Turbulence_In_gforces', 'Cabin_Temperature', 'Max_Elevation', 'Violations', 'Adverse_Weather_Metric'],inplace=True,axis=1)

df.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
0,Minor_Damage_And_Injuries,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352
1,Minor_Damage_And_Injuries,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350
2,Significant_Damage_And_Fatalities,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364
3,Significant_Damage_And_Serious_Injuries,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728
4,Significant_Damage_And_Fatalities,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883

In [321]:
df.describe()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,41.876406,12.931100,6.564300,65.145324,0.381495,79.969331,3.814900,32001.803282,2.01220,0.255635
std,16.138072,3.539803,6.971982,11.882934,0.121301,2.759739,1.902577,9431.995196,1.03998,0.381128
min,0.000000,1.000000,0.000000,0.000000,0.134000,74.740000,1.000000,831.695553,0.00000,0.000316
25%,30.593607,11.000000,2.000000,56.927985,0.293665,77.960000,2.000000,25757.636908,1.00000,0.012063
50%,41.278539,13.000000,4.000000,65.587967,0.365879,79.540000,4.000000,32060.336419,2.00000,0.074467
75%,52.511416,15.000000,9.000000,73.336372,0.451346,81.560000,5.000000,38380.641513,3.00000,0.354059
max,100.000000,23.000000,54.000000,100.000000,0.882648,97.510000,7.000000,64297.651218,5.00000,2.365378

In [322]:
df['Severity'].value_counts()

Highly_Fatal_And_Damaging                  3049
Significant_Damage_And_Serious_Injuries    2729
Minor_Damage_And_Injuries                  2527
Significant_Damage_And_Fatalities          1695
Name: Severity, dtype: int64

In [323]:
severity_label_mapping = {'Highly_Fatal_And_Damaging': 3,
'Significant_Damage_And_Serious_Injuries': 2,
'Minor_Damage_And_Injuries': 0,
'Significant_Damage_And_Fatalities': 1
}
df["Severity"] = df["Severity"].map(severity_label_mapping).astype(np.int32)

In [324]:
df.head()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
0,0,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352
1,0,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350
2,1,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364
3,2,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728
4,1,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883

In [325]:
# def min_max(x,minx,maxx):
#     return (x-minx)/(maxx-minx)

# def standardscale(x,meanx,stdx):
#     return (x-meanx)/stdx

# df['Safety_Score'] = df['Safety_Score'].apply(standardscale, args=(df['Safety_Score'].mean(),df['Safety_Score'].std()))
# df['Max_Elevation'] = df['Max_Elevation'].apply(standardscale, args=(df['Max_Elevation'].mean(),df['Max_Elevation'].std()))
# df['Control_Metric'] = df['Control_Metric'].apply(standardscale, args=(df['Control_Metric'].mean(),df['Control_Metric'].std()))
# df['Days_Since_Inspection'] = df['Days_Since_Inspection'].apply(min_max, args=(df['Days_Since_Inspection'].min(),df['Days_Since_Inspection'].max()) )
# df['Total_Safety_Complaints'] = df['Total_Safety_Complaints'].apply(min_max, args=(df['Total_Safety_Complaints'].min(),df['Total_Safety_Complaints'].max()) )
# df['Turbulence_In_gforces'] = df['Turbulence_In_gforces'].apply(min_max, args=(df['Turbulence_In_gforces'].min(),df['Turbulence_In_gforces'].max()) )
# df['Cabin_Temperature'] = df['Cabin_Temperature'].apply(min_max, args=(df['Cabin_Temperature'].min(),df['Cabin_Temperature'].max()) )
# df['Accident_Type_Code'] = df['Accident_Type_Code'].apply(min_max, args=(df['Accident_Type_Code'].min(),df['Accident_Type_Code'].max()) )
# df['Violations'] = df['Violations'].apply(min_max, args=(df['Violations'].min(),df['Violations'].max()) )
# df['Adverse_Weather_Metric'] = df['Adverse_Weather_Metric'].apply(min_max, args=(df['Adverse_Weather_Metric'].min(),df['Adverse_Weather_Metric'].max()) )

# df.head()

In [326]:
df.describe()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,1.630000,41.876406,12.931100,6.564300,65.145324,0.381495,79.969331,3.814900,32001.803282,2.01220,0.255635
std,1.161221,16.138072,3.539803,6.971982,11.882934,0.121301,2.759739,1.902577,9431.995196,1.03998,0.381128
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.134000,74.740000,1.000000,831.695553,0.00000,0.000316
25%,0.000000,30.593607,11.000000,2.000000,56.927985,0.293665,77.960000,2.000000,25757.636908,1.00000,0.012063
50%,2.000000,41.278539,13.000000,4.000000,65.587967,0.365879,79.540000,4.000000,32060.336419,2.00000,0.074467
75%,3.000000,52.511416,15.000000,9.000000,73.336372,0.451346,81.560000,5.000000,38380.641513,3.00000,0.354059
max,3.000000,100.000000,23.000000,54.000000,100.000000,0.882648,97.510000,7.000000,64297.651218,5.00000,2.365378

In [327]:
df.columns

Index(['Severity', 'Safety_Score', 'Days_Since_Inspection',
       'Total_Safety_Complaints', 'Control_Metric', 'Turbulence_In_gforces',
       'Cabin_Temperature', 'Accident_Type_Code', 'Max_Elevation',
       'Violations', 'Adverse_Weather_Metric'],
      dtype='object')

In [328]:
x_columns = ['Safety_Score', 'Days_Since_Inspection', 'Total_Safety_Complaints', 'Control_Metric',
             'Turbulence_In_gforces', 'Cabin_Temperature', 'Accident_Type_Code',
             'Max_Elevation', 'Violations', 'Adverse_Weather_Metric']

y_columns = ['Severity']

In [329]:
X = df.drop(['Severity'], axis = 1) 
Y = df[['Severity']]

X.head()

,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
0,49.223744,14,22,71.285324,0.272118,78.04,2,31335.476824,3,0.424352
1,62.465753,10,27,72.288058,0.423939,84.54,2,26024.711057,2,0.352350
2,63.059361,13,16,66.362808,0.322604,78.86,7,39269.053927,3,0.003364
3,48.082192,11,9,74.703737,0.337029,81.79,3,42771.499200,1,0.211728
4,26.484018,13,25,47.948952,0.541140,77.16,3,35509.228515,2,0.176883

In [330]:
# x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.3,random_state=0,stratify=Y)

In [331]:
scaler = StandardScaler()
X = scaler.fit_transform(X)

# x_train = scaler.fit_transform(x_train)
# x_test = scaler.transform(x_test)

In [332]:
class_weights = list(class_weight.compute_class_weight('balanced', np.unique(Y['Severity']), Y['Severity']))

w_array = np.ones(Y.shape[0], dtype = 'float')
for i, val in enumerate(Y.values):
    w_array[i] = class_weights[int(val)-1]

In [333]:

# clfxgb = XGBClassifier(eta = 0.01, max_depth=10, objective='multi:softmax', n_estimators=1000, 
#                         num_classes=4, random_state=0, n_jobs=3, sample_weight=w_array)
# clfxgb.fit(X,Y)

# for foo,bar in zip(x_columns,clfxgb.feature_importances_):
#     print(foo,bar*100)

In [335]:
clfrf = RandomForestClassifier(n_estimators=1000, random_state=0, min_samples_split=4, n_jobs=-1,class_weight="balanced_subsample").fit(X, Y)

/Users/madhur/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

In [336]:

params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'multiclass',
    'num_class': 4,
    'metric': 'multi_logloss',
    'n_jobs': -1,
    'num_leaves': 40,
    'learning_rate': 1
}
lgb_train = lgb.Dataset(X,Y)
clfgbm = lgb.train(params,
                lgb_train,
                num_boost_round=1000)

In [337]:
# model_keras = Sequential()
# model_keras.add(Dense(8, input_dim=10, activation='relu'))
# model_keras.add(Dense(7, activation='relu'))
# model_keras.add(Dense(6, activation='relu'))
# model_keras.add(Dense(5, activation='relu'))
# model_keras.add(Dense(4, activation='softmax'))
# # Compile model
# model_keras.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
# model_keras.fit(X, to_categorical(Y),batch_size=10,epochs=100,verbose=1,shuffle=True)

In [338]:
# test_df['Safety_Score'] = test_df['Safety_Score'].apply(standardscale, args=(test_df['Safety_Score'].mean(),test_df['Safety_Score'].std()))
# test_df['Max_Elevation'] = test_df['Max_Elevation'].apply(standardscale, args=(test_df['Max_Elevation'].mean(),test_df['Max_Elevation'].std()))
# test_df['Control_Metric'] = test_df['Control_Metric'].apply(standardscale, args=(test_df['Control_Metric'].mean(),test_df['Control_Metric'].std()))
# test_df['Days_Since_Inspection'] = test_df['Days_Since_Inspection'].apply(min_max, args=(test_df['Days_Since_Inspection'].min(),test_df['Days_Since_Inspection'].max()) )
# test_df['Total_Safety_Complaints'] = test_df['Total_Safety_Complaints'].apply(min_max, args=(test_df['Total_Safety_Complaints'].min(),test_df['Total_Safety_Complaints'].max()) )
# test_df['Turbulence_In_gforces'] = test_df['Turbulence_In_gforces'].apply(min_max, args=(test_df['Turbulence_In_gforces'].min(),test_df['Turbulence_In_gforces'].max()) )
# test_df['Cabin_Temperature'] = test_df['Cabin_Temperature'].apply(min_max, args=(test_df['Cabin_Temperature'].min(),test_df['Cabin_Temperature'].max()) )
# test_df['Accident_Type_Code'] = test_df['Accident_Type_Code'].apply(min_max, args=(test_df['Accident_Type_Code'].min(),test_df['Accident_Type_Code'].max()) )
# test_df['Violations'] = test_df['Violations'].apply(min_max, args=(test_df['Violations'].min(),test_df['Violations'].max()) )
# test_df['Adverse_Weather_Metric'] = test_df['Adverse_Weather_Metric'].apply(min_max, args=(test_df['Adverse_Weather_Metric'].min(),test_df['Adverse_Weather_Metric'].max()) )

test_df = scaler.transform(test_df)

In [339]:
#xgb classifier
# y_test_xgb = clfxgb.predict(test_df)

# keras
# y_test_keras = model_keras.predict(test_df)
# y_test_keras_np = np.argmax(y_test_keras, axis=1)

#randomforrest
y_test_rf = clfrf.predict(test_df)

#lgbm
y_test_lgbm = clfgbm.predict(test_df, num_iteration=clfgbm.best_iteration)
y_test_lgbm = np.argmax(y_test_lgbm, axis=1)

In [340]:
# test_df_accident['Severity_xgb'] = y_test_xgb

# test_df_accident['Severity_keras'] = y_test_keras_np
test_df_accident['Severity_rf'] = y_test_rf
test_df_accident['Severity_lgbm'] = y_test_lgbm

test_df_accident.head(30)

    Accident_ID  Severity_rf  Severity_lgbm
0   1            3            3
1   10           1            1
2   14           2            2
3   17           3            3
4   21           1            1
5   40           1            1
6   45           1            1
7   50           3            3
8   52           3            3
9   85           2            2
10  95           2            2
11  106          2            2
12  111          3            3
13  123          2            2
14  129          1            1
15  130          2            2
16  132          3            3
17  137          3            2
18  159          0            0
19  161          1            1
20  162          3            3
21  166          2            2
22  170          1            1
23  173          0            3
24  177          3            3
25  180          1            1
26  182          1            1
27  183          3            3
28  184          1            1
29  188          2            2

In [341]:
# test_df_accident['Severity_Total'] = test_df_accident.loc[:,['Severity_xgb',
#                                                              'Severity_rf','Severity_lgbm']].sum(axis=1)

# test_df['severity_Total'] = test_df.iloc[:, 1:5].sum(axis=1)
# test_df_accident['Severity_Total'] = test_df_accident['Severity_Total']/3.0
# test_df_accident['Severity_Total'] = test_df_accident['Severity_Total'].astype(int)
test_df_accident.head(500)

     Accident_ID  Severity_rf  Severity_lgbm
0    1            3            3
1    10           1            1
2    14           2            2
3    17           3            3
4    21           1            1
5    40           1            1
6    45           1            1
7    50           3            3
8    52           3            3
9    85           2            2
10   95           2            2
11   106          2            2
12   111          3            3
13   123          2            2
14   129          1            1
15   130          2            2
16   132          3            3
17   137          3            2
18   159          0            0
19   161          1            1
20   162          3            3
21   166          2            2
22   170          1            1
23   173          0            3
24   177          3            3
25   180          1            1
26   182          1            1
27   183          3            3
28   184          1            1
29   188          2            2
30   190          0            0
31   191          2            2
32   201          0            0
33   203          3            3
34   206          3            3
35   217          0            0
36   220          3            3
37   221          2            0
38   225          3            3
39   229          2            3
40   231          0            0
41   232          2            2
42   234          1            1
43   236          1            1
44   237          1            1
45   240          3            3
46   245          0            0
47   250          0            0
48   252          3            3
49   254          2            2
50   261          0            0
51   265          0            3
52   266          1            1
53   271          3            3
54   273          3            3
55   274          0            0
56   275          3            3
57   280          0            0
58   285          2            2
59   292          3            3
60   304          0            0
61   311          0            0
62   316          1            1
63   317          3            3
64   318          2            2
65   321          2            2
66   322          3            3
67   327          1            1
68   332          2            2
69   338          0            0
70   356          3            3
71   364          3            3
72   372          3            3
73   379          1            1
74   380          3            3
75   384          3            3
76   388          0            0
77   390          1            1
78   401          0            0
79   408          3            3
80   413          3            3
81   416          2            2
82   426          3            3
83   428          0            0
84   432          0            0
85   433          3            3
86   437          1            1
87   440          1            1
88   444          3            3
89   447          2            2
90   451          0            0
91   461          2            2
92   469          0            0
93   470          0            0
94   481          0            0
95   483          1            1
96   490          3            1
97   491          2            2
98   494          3            3
99   495          2            2
100  497          3            3
101  504          0            0
102  509          3            3
103  511          0            0
104  513          3            3
105  514          0            2
106  518          0            0
107  520          2            2
108  526          1            1
109  529          0            0
110  530          2            2
111  532          0            0
112  536          3            3
113  543          0            0
114  553          3            3
115  559          2            2
116  561          1            1
117  563          3            3
118  566          3            3
119  593          2            2
120  595          0            2
121  597          0            0
122  602          2            2
123  604          3            3
124  615          0            0
125  617          3            3
126  618          0            0
127  622          1            1
128  626          2            2
129  633          0            0
130  636          3            3
131  642          2            2
132  648          2            2
133  651          3            3
134  653          3            3
135  658          2            2
136  659          0            0
137  660          2            2
138  662          2            2
139  665          2            2
140  674          0            0
141  676          1            1
142  682          1            1
143  686          2            0
144  687          3            3
145  692          0            0
146  699          2            2
147  703          2            2
148  706          1            1
149  708          1            1
150  714          0            0
151  719          0            0
152  721          1            1
153  725          2            2
154  728          2            2
155  733          2            2
156  735          3            3
157  736          2            2
158  745          2            2
159  762          0            0
160  768          1            1
161  773          3            3
162  777          1            1
163  781          0            0
164  782          3            3
165  797          0            0
166  801          2            2
167  815          3            3
168  818          3            3
169  824          0            0
170  832          2            2
171  834          0            0
172  842          2            2
173  850          2            2
174  855          0            0
175  860          3            3
176  865          3            3
177  867          0            0
178  868          0            0
179  873          3            3
180  876          3            3
181  882          0            0
182  886          3            3
183  887          2            2
184  888          0            0
185  889          3            3
186  898          1            1
187  902          3            3
188  908          3            3
189  909          2            2
190  914          2            2
191  927          0            0
192  940          1            1
193  944          1            1
194  950          3            3
195  951          3            3
196  953          1            1
197  956          3            2
198  967          0            0
199  977          0            0
200  978          0            0
201  979          2            2
202  982          0            0
203  989          0            0
204  990          0            0
205  999          3            3
206  1005         1            1
207  1011         2            2
208  1013         0            0
209  1015         3            3
210  1018         2            3
211  1021         3            3
212  1022         0            0
213  1024         3            3
214  1025         0            2
215  1031         3            3
216  1036         2            2
217  1048         0            0
218  1050         3            0
219  1055         1            1
220  1057         3            3
221  1072         0            0
222  1075         0            0
223  1082         3            3
224  1102         2            2
225  1103         2            2
226  1109         0            0
227  1114         3            3
228  1116         2            2
229  1123         3            3
230  1127         1            1
231  1135         0            0
232  1143         3            3
233  1144         2            2
234  1147         3            3
235  1149         1            1
236  1155         3            3
237  1158         2            2
238  1160         3            3
239  1164         1            1
240  1170         3            3
241  1175         0            0
242  1179         3            3
243  1186         2            2
244  1193         3            3
245  1197         2            2
246  1198         2            2
247  1207         0            0
248  1213         3            1
249  1217         3            3
250  1226         0            0
251  1227         2            2
252  1234         1            1
253  1238         0            0
254  1240         2            2
255  1242         2            2
256  1250         3            0
257  1251         3            3
258  1256         2            2
259  1258         3            0
260  1269         0            0
261  1270         0            0
262  1271         2            2
263  1272         1            1
264  1279         0            0
265  1282         2            2
266  1284         3            3
267  1285         1            1
268  1286         0            3
269  1294         0            0
270  1305         0            0
271  1310         2            2
272  1312         0            0
273  1325         2            2
274  1333         0            0
275  1343         3            3
276  1347         1            1
277  1348         0            0
278  1350         1            1
279  1355         0            0
280  1357         3            3
281  1371         0            0
282  1378         0            0
283  1393         0            0
284  1398         0            0
285  1405         1            1
286  1406         0            0
287  1407         0            0
288  1421         1            1
289  1431         0            0
290  1432         0            0
291  1437         0            0
292  1439         3            3
293  1440         0            0
294  1441         3            3
295  1442         2            2
296  1448         0            0
297  1450         0            0
298  1453         0            0
299  1454         3            3
300  1460         2            2
301  1461         3            3
302  1473         2            2
303  1481         0            0
304  1488         1            1
305  1499         1            1
306  1502         2            2
307  1505         3            3
308  1511         2            2
309  1516         2            2
310  1523         3            3
311  1527         3            3
312  1560         3            3
313  1566         0            0
314  1567         3            3
315  1568         3            3
316  1569         1            1
317  1570         3            3
318  1576         0            0
319  1589         2            2
320  1592         0            0
321  1598         3            3
322  1599         3            3
323  1600         3            3
324  1607         3            3
325  1608         2            2
326  1611         0            0
327  1613         1            1
328  1623         1            1
329  1647         1            1
330  1649         2            2
331  1658         3            3
332  1662         3            3
333  1668         2            2
334  1676         2            2
335  1678         0            0
336  1682         3            3
337  1690         1            1
338  1701         1            1
339  1710         0            0
340  1723         0            0
341  1725         0            0
342  1747         3            3
343  1748         2            2
344  1754         3            3
345  1756         3            3
346  1757         0            0
347  1770         0            0
348  1774         2            2
349  1776         2            2
350  1789         3            3
351  1794         1            1
352  1804         3            0
353  1806         0            0
354  1807         0            0
355  1811         2            2
356  1814         0            0
357  1826         3            3
358  1832         3            3
359  1835         0            0
360  1839         1            1
361  1840         1            1
362  1848         2            2
363  1849         1            1
364  1850         0            0
365  1854         1            1
366  1861         1            1
367  1866         0            0
368  1868         2            2
369  1872         2            2
370  1875         0            0
371  1877         1            1
372  1879         1            1
373  1880         2            2
374  1892         0            0
375  1896         3            3
376  1898         1            1
377  1899         3            3
378  1903         2            2
379  1909         0            0
380  1912         3            3
381  1920         1            1
382  1933         0            0
383  1940         0            0
384  1941         3            2
385  1944         2            3
386  1946         1            1
387  1950         2            2
388  1955         0            0
389  1957         0            0
390  1958         0            0
391  1965         0            0
392  1971         0            0
393  1974         3            3
394  1980         3            3
395  1984         1            1
396  1990         1            1
397  1991         3            3
398  1994         0            0
399  1997         2            2
400  2006         3            3
401  2008         3            3
402  2013         0            0
403  2015         2            2
404  2016         0            0
405  2021         2            2
406  2023         1            1
407  2038         0            0
408  2040         2            2
409  2048         0            0
410  2063         2            2
411  2073         0            0
412  2075         3            3
413  2081         3            3
414  2082         3            3
415  2086         2            2
416  2090         0            0
417  2091         3            3
418  2094         2            2
419  2096         1            1
420  2097         3            3
421  2101         3            3
422  2103         2            2
423  2106         0            0
424  2107         1            1
425  2113         2            2
426  2122         0            0
427  2123         1            2
428  2132         0            0
429  2134         3            2
430  2141         3            1
431  2145         0            0
432  2147         1            1
433  2149         2            2
434  2155         3            3
435  2161         2            2
436  2177         2            2
437  2179         1            1
438  2182         1            1
439  2192         2            2
440  2195         1            1
441  2196         2            2
442  2197         3            3
443  2199         3            3
444  2204         3            3
445  2206         0            0
446  2212         0            0
447  2215         3            3
448  2217         1            1
449  2220         0            0
450  2222         2            3
451  2227         2            2
452  2239         3            3
453  2241         2            2
454  2246         0            0
455  2254         0            0
456  2255         3            3
457  2259         3            3
458  2263         3            3
459  2264         2            2
460  2269         0            0
461  2281         2            2
462  2284         1            1
463  2285         1            1
464  2292         0            0
465  2293         1            1
466  2299         3            3
467  2301         3            3
468  2302         3            3
469  2303         2            2
470  2307         2            2
471  2315         2            2
472  2316         2            2
473  2317         2            2
474  2320         3            3
475  2322         1            1
476  2334         3            3
477  2336         0            0
478  2342         3            3
479  2343         1            1
480  2349         2            2
481  2354         1            1
482  2357         0            0
483  2364         1            1
484  2370         3            3
485  2379         2            2
486  2389         2            2
487  2400         2            2
488  2402         3            3
489  2406         3            3
490  2427         1            1
491  2429         2            2
492  2435         3            3
493  2438         3            3
494  2439         3            3
495  2449         2            2
496  2454         3            3
497  2455         1            1
498  2462         2            2
499  2471         2            2

In [342]:
# from collections import Counter
# def fun(x):
#     x = list(x.values)
#     data = Counter(x)
#     return data.most_common(1)[0][0]
# test_df_accident['Severity_Mode'] = test_df_accident[['Severity_xgb','Severity_rf','Severity_lgbm']].apply(fun,axis=1)
# test_df_accident.head()

In [343]:
severity_label_mapping_reverse = {3:'Highly_Fatal_And_Damaging',
                                  2:'Significant_Damage_And_Serious_Injuries',
                                  0:'Minor_Damage_And_Injuries',
                                  1:'Significant_Damage_And_Fatalities'}

test_df_accident["Severity_lgbm"] = test_df_accident["Severity_lgbm"].map(severity_label_mapping_reverse)
# test_df_accident["Severity_xgb"] = test_df_accident["Severity_xgb"].map(severity_label_mapping_reverse)
# test_df_accident["Severity_keras"] = test_df_accident["Severity_keras"].map(severity_label_mapping_reverse)
test_df_accident["Severity_rf"] = test_df_accident["Severity_rf"].map(severity_label_mapping_reverse)
# test_df_accident["Severity_Mode"] = test_df_accident["Severity_Mode"].map(severity_label_mapping_reverse)

test_df_accident.head(10)

,Accident_ID,Severity_rf,Severity_lgbm
0,1,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
1,10,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities
2,14,Significant_Damage_And_Serious_Injuries,Significant_Damage_And_Serious_Injuries
3,17,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
4,21,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities
5,40,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities
6,45,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities
7,50,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
8,52,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
9,85,Significant_Damage_And_Serious_Injuries,Significant_Damage_And_Serious_Injuries

In [344]:
import time
t = time.localtime()
timestamp = time.strftime('%b-%d-%Y_%H%M', t)

test_df_accident.to_csv(f'output_lgbm_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_lgbm'])
# test_df_accident.to_csv(f'output_xgb_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_xgb'])
# test_df_accident.to_csv(f'output_keras_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_keras'])
test_df_accident.to_csv(f'output_rf_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_rf'])

In [345]:
# test_df_accident.to_csv(f'output_mode_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_Mode'])

In [346]:
df.describe()

,Severity,Safety_Score,Days_Since_Inspection,Total_Safety_Complaints,Control_Metric,Turbulence_In_gforces,Cabin_Temperature,Accident_Type_Code,Max_Elevation,Violations,Adverse_Weather_Metric
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000
mean,1.630000,41.876406,12.931100,6.564300,65.145324,0.381495,79.969331,3.814900,32001.803282,2.01220,0.255635
std,1.161221,16.138072,3.539803,6.971982,11.882934,0.121301,2.759739,1.902577,9431.995196,1.03998,0.381128
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.134000,74.740000,1.000000,831.695553,0.00000,0.000316
25%,0.000000,30.593607,11.000000,2.000000,56.927985,0.293665,77.960000,2.000000,25757.636908,1.00000,0.012063
50%,2.000000,41.278539,13.000000,4.000000,65.587967,0.365879,79.540000,4.000000,32060.336419,2.00000,0.074467
75%,3.000000,52.511416,15.000000,9.000000,73.336372,0.451346,81.560000,5.000000,38380.641513,3.00000,0.354059
max,3.000000,100.000000,23.000000,54.000000,100.000000,0.882648,97.510000,7.000000,64297.651218,5.00000,2.365378

In [347]:
test_df_accident.head()

,Accident_ID,Severity_rf,Severity_lgbm
0,1,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
1,10,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities
2,14,Significant_Damage_And_Serious_Injuries,Significant_Damage_And_Serious_Injuries
3,17,Highly_Fatal_And_Damaging,Highly_Fatal_And_Damaging
4,21,Significant_Damage_And_Fatalities,Significant_Damage_And_Fatalities

In [348]:
# mostCommonVote=[]
# for row in test_df_accident[['Severity_xgb', 'Severity_lgbm']].values:
#     votes, values = np.unique(row, return_counts=True)
#     if np.all(values<=1):
#             mostCommonVote.append( row[0] )
#     else:
#         mostCommonVote.append( votes[np.argmax(values)] )

# test_df_accident['Severity_majority'] = mostCommonVote

In [349]:
# test_df_accident.to_csv(f'output_majority_two_{timestamp}.csv',index=False,columns=['Accident_ID','Severity_majority'])

In [350]:
df['Violations'].unique()

array([3, 2, 1, 0, 4, 5])